@{
    Layout = "~/Views/Shared/_Layout-0-Header-Footer.cshtml";
}
<nav class="navbar bg-white">
    <div class="input-group col-xs-12 col-md-4 mb-2">
        <input type="text" placeholder="Tüm etkinliklerde ara" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn cs-arka-renk" type="button" id="button-addon2">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="col-xs-push-10 col-xs-12 col-md-4 mb-2">
        <a class="tutorials-link" href="#Kayit" role="button">Filtreleme Yap</a>
    </div>
    <div class="col-xs-12 col-md-4 mb-2">
        <a class="tutorials-link" href="#Kayit" role="button">Sıralama Ölçütünü Seç</a>
    </div>
</nav>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <!--sol, profil ve dışlink tarafı-->
        <div class="col-md-3">
            @{NeYapsak.PL.Models.UserViewModel item = new NeYapsak.PL.Models.UserViewModel();
                item = ViewBag.user;
                }
                <div class="card">
                    <div class="card-body p-10">
                        <div class="row">
                            <div class="col-2 col-md-3">
                                <img class="rounded-circle" width="45" height="45" src="@item.Kullanici.ProfilAvatarYolu" alt="">
                            </div>
                            <div class="col-10 col-md-9">
                                <div class="h5 m-0"><a href="/Home/MyProfile" class="cs-renk">@item.Kullanici.Name</a></div>
                                <div class="h7 text-muted">@item.Kullanici.Name @item.Kullanici.Surname,@(Convert.ToInt32(DateTime.Now.Year - item.Kullanici.DogumTarihi.Year))</div>
                            </div>
                        </div><br>
                        <p class="text-normal">@item.Kullanici.Bio</p>
                    </div>
                    <div class="list-group list-group-flush">
                        <span class="h6 font-weight-normal list-group-item">Düzenlediğim:<span class="h5 font-weight-bold">@item.KullaniciIlanlari.Where(i => i.Silindi == false && i.Yayindami == true).Count()</span>&nbsp;&nbsp;Katıldığım: <span class="h5 font-weight-bold">@item.KatildigiIlanSayisi</span></span>
                        <span class="h6 font-weight-normal list-group-item">İlgilendiğim:<span class="h5 font-weight-bold">@item.IlgilendigiIlanSayisi</span>&nbsp;&nbsp;Onayımı bekleyen:<span class="h5 font-weight-bold">@item.KullaniciIlanlari.Where(i=>i.Silindi == false && i.Yayindami==false).Count()</span></span>
                    </div>
                </div>
            <div class="row">&nbsp;</div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">BURALAR SARMADI MI?</h5>
                    <h6 class="card-subtitle mb-2 text-muted">O halde bu sitelere de bakın !</h6>
                    <a href="#" class="card-link cs-renk">link1</a><br>
                    <a href="#" class="card-link cs-renk">link2</a><br>
                    <a href="#" class="card-link cs-renk">link3</a><br>
                    <a href="#" class="card-link cs-renk">link4</a><br>
                    <a href="#" class="card-link cs-renk">link5</a><br>
                    <a href="#" class="card-link cs-renk">link6</a>
                </div>
            </div>
        </div>
        <!--col-md-3 bitiş-->
        @RenderBody()
    </div><!--row bitiş-->
</div> <!--sayfa içerik bitiş-->
