@{
    Layout = "~/Views/Shared/_Layout-0-Header-Footer.cshtml";
}
<nav class="navbar bg-white">
    <div class="input-group col-xs-12 col-md-6 mb-2">
        <input type="text" placeholder="Tüm etkinliklerde ara" class="form-control" id="tum-etk-ara" aria-label="Recipient's username" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn cs-arka-renk" type="button" id="tum-etk-ara">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 mb-2">
        <a class="tutorials-link" href="#Kayit" role="button">Sıralama Ölçütünü Seç</a>
    </div>
</nav>
<div class="container-fluid gedf-wrapper">
    <div class="row">
        <!--sol, profil ve dışlink tarafı-->
        <div class="col-md-3">
            @{NeYapsak.PL.Models.LayoutViewModel LayoutModel = new NeYapsak.PL.Models.LayoutViewModel();
                LayoutModel = ViewBag.user;
                }
                <div class="card">
                    <div class="card-body p-10">
                        <div class="row">
                            <div class="col-2 col-md-3">
                                <img class="rounded-circle" width="45" height="45" src="@LayoutModel.Kullanici.ProfilAvatarYolu" alt="">
                            </div>
                            <div class="col-10 col-md-9">
                                <div class="h5 m-0"><a href="/Home/MyProfile" class="cs-renk">@LayoutModel.Kullanici.Name</a></div>
                                <div class="h7 text-muted">@LayoutModel.Kullanici.Name @LayoutModel.Kullanici.Surname,@(Convert.ToInt32(DateTime.Now.Year - LayoutModel.Kullanici.DogumTarihi.Year))</div>
                            </div>
                        </div><br>
                        <p class="text-normal">@LayoutModel.Kullanici.Bio</p>
                    </div>
                    <div class="list-group list-group-flush">
                        <span class="h6 font-weight-normal list-group-item">Düzenlediğim:<span class="h5 font-weight-bold">@LayoutModel.KullaniciIlanSayisi</span>&nbsp;&nbsp;Katıldığım: <span class="h5 font-weight-bold">@LayoutModel.KatildigiIlanSayisi</span></span>
                        <span class="h6 font-weight-normal list-group-item">İlgilendiğim:<span class="h5 font-weight-bold">@LayoutModel.IlgilendigiIlanSayisi</span>&nbsp;&nbsp;Onayımı bekleyen:<span class="h5 font-weight-bold">@LayoutModel.OnayimiBekleyenIlanSayisi</span></span>
                    </div>
                </div>
            <div class="row">&nbsp;</div>
            <div class="card gedf-card">
                <div class="card-body">
                    <h5 class="card-title">BURASI SARMADI MI?</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Dışarda yapılacak çok şey var! Bir de şuralarda ara:</h6>
                    <a href="https://etkinlik.io/" class="card-link cs-renk" target="_blank">Etkinlik.io</a><br>
                    <a href="http://www.etkinlikgezgini.com/" class="card-link cs-renk" target="_blank">Etkinlik Gezgini</a><br>
                    <a href="https://www.timeout.com/istanbul/tr" class="card-link cs-renk" target="_blank">Timeout</a><br>
                    <a href="https://www.etkinlikhaberci.com/" class="card-link cs-renk" target="_blank">Etkinlik Habercisi</a><br />
                    <a href="http://www.zeroistanbul.com/" class="card-link cs-renk" target="_blank">Zero İstanbul</a><br>
                    <a href="https://www.istanbul.net.tr/" class="card-link cs-renk" target="_blank">İstanbul Şehir Rehberi</a><br>
                </div>
            </div>
        </div>
        <!--col-md-3 bitiş-->
        @RenderBody()
    </div><!--row bitiş-->
</div> <!--sayfa içerik bitiş-->
<script src="~/js/arama.js"></script>