@model NeYapsak.PL.Models.EventConfirmViewModel
@{
    ViewBag.Title = "Etkinlik İşlemleri";
    Layout = "~/Views/Shared/_Layout-3-TopMenu-User.cshtml";
}
<link href="~/css/Buton-style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="container emp-profile">
    <!-- Etkinlik Açıklaması -->
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>İlan Başlığı</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Başlangıç Tarihi</th>
                </tr>
                <tr>
                    <th><p><a href="/Home/MyEventDetail/@Model.Ilan.Id" class="cs-renk">@Model.Ilan.Baslik</a></p></th>
                    <th><p class="text-muted">@Model.Ilan.OlusturmaTarihi</p></th>
                    <th><p class="text-muted">@Model.Ilan.BaslangicTarihi</p></th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- Etkinlik Açıklaması Bitiş-->
    <!-- Onaylanmışlar -->
    <div class="card-body">
        @if (Model.OnaylanmisIlanlar.Count() == 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Onaylanmış Etkinlik Yok.</th>
                    </tr>
                </thead>
            </table>
        }
        else if (Model.OnaylanmisIlanlar.Count() != 0)
        {
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Onaylanmış İstekler</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Katılmak İsteyen</th>
                            <th>İstek Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in Model.OnaylanmisIlanlar)
                        {

                            foreach (NeYapsak.Entity.Entity.Katilan katilanlar in userviewilan.Katilanlar.Where(k => k.Silindi == false && k.Onay == true))
                            {
                                <tr>
                                    <td><img class="rounded-circle" width="45" height="45" src="@katilanlar.User.ProfilAvatarYolu" alt=""></td>
                                    <td><p class="text-muted">@katilanlar.User.Name @katilanlar.User.Surname</p></td>
                                    <td><p class="text-muted">@katilanlar.Tarih</p></td>
                                    <td>
                                        <!-- Modal Onay Onaylanmış -->
                                        <div class="row">
                                            <button id="btn-onay-iptal" type="button" class="btn btn-sekillendir-sml " data-toggle="modal" data-target="#ConfirmModalIptal">
                                                İptal Et
                                            </button>

                                            <div class="modal fade" id="ConfirmModalIptal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalIptalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="ConfirmModalIptalLabel"></h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div id="confirm-iptal-modal-bodyy" class="modal-body">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="row" style="width:175px;">
                                                                <a id="ktl-onay-iptal" href="#" data-id="@katilanlar.Id" class="btn cs-arka-renk col-md-5 ktl-onay-iptal">Evet</a>
                                                                <button type="button" class="btn cs-arka-renk col-md-6" style="margin-left:10px;" data-dismiss="modal">İptal</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal Onay Onaylanmış Bitiş-->
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <!-- Onaylanmışlar Bitiş -->
    <!-- Onay Bekleyenler -->
    <div class="card-body">
        @if (Model.OnayBekleyenIlanlar.Count() == 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Onay Bekleyen Etkinlik Yok.</th>
                    </tr>
                </thead>
            </table>
        }
        else if (Model.OnayBekleyenIlanlar.Count() != 0)
        {
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Onay Bekleyen İstekler</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Katılmak İsteyen</th>
                            <th>İstek Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in Model.OnayBekleyenIlanlar)
                        {

                            foreach (NeYapsak.Entity.Entity.Katilan katilanlar in userviewilan.Katilanlar.Where(k => k.Silindi == false && k.Onay == false))
                            {
                                <tr>
                                    <td><img class="rounded-circle" width="45" height="45" src="@katilanlar.User.ProfilAvatarYolu" alt=""></td>
                                    <td><p class="text-muted">@katilanlar.User.Name @katilanlar.User.Surname</p></td>
                                    <td><p class="text-muted">@katilanlar.Tarih</p></td>
                                    <td>
                                        <!-- Modal Onay Onaybekleyen -->
                                        <div class="row">
                                            <button id="btn-onayla" type="button" class="btn btn-sekillendir-sml " data-toggle="modal" data-target="#ConfirmModal">
                                                Onayla
                                            </button>
                                            <button id="btn-reddet" type="button" class="btn btn-sekillendir-sml " data-toggle="modal" data-target="#ConfirmModal">
                                                Reddet
                                            </button>

                                            <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="ConfirmModalLabel"></h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div id="confirm-modal-bodyy" class="modal-body">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="row" style="width:250px;">
                                                                <div class="col-md-6">
                                                                    <div class="row">
                                                                        <a id="ktl-onay" href="#" data-id="@katilanlar.Id" class="btn cs-arka-renk col-md-12 ktl-iptal">Evet Onayla</a><a id="ktl-red" href="#" data-id="@katilanlar.Id" class="btn cs-arka-renk col-md-12 ktl-iptal">Evet Reddet</a>
                                                                    </div>
                                                                </div>
                                                                <button type="button" class="btn cs-arka-renk col-md-4" style="margin-left:10px;" data-dismiss="modal">İptal</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal Onay Onaybekleyen -->
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <!-- Onay Bekleyenler Bitiş -->
</div>

<!-- Modal Bilgi-->
<div class="modal fade" id="KatilmaModalCenter" tabindex="-1" role="dialog" aria-labelledby="KatilmaModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="KatilmaModalLongTitle"></h5>
                <button id="modal-cik" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-bodyy" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="modal-tamam" type="button" class="btn cs-arka-renk" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Bilgi Bitiş-->



<script type="text/javascript">

    var btnModalOnay = document.getElementById("ktl-onay");
    var btnModalRed = document.getElementById("ktl-red");

    $("#btn-onayla").click(function () {
        btnModalRed.style.display = "none";
        btnModalOnay.style.display = "block";
        $('#ConfirmModalLabel').attr("class", " text-info")
        $('#ConfirmModalLabel').text("Emin Misin?");
        $('#confirm-modal-bodyy').text("Katılma isteğini onaylamak istediğine emin misin?");
    });

    $("#btn-onay-iptal").click(function () {
        $('#ConfirmModalIptalLabel').attr("class", " text-info")
        $('#ConfirmModalIptalLabel').text("Emin Misin?");
        $('#confirm-iptal-modal-bodyy').text("Katılanlardan çıkarmak istediğine emin misin?");
    });

    $("#btn-reddet").click(function () {
        btnModalRed.style.display = "block";
        btnModalOnay.style.display = "none";
        $('#ConfirmModalLabel').attr("class", " text-info")
        $('#ConfirmModalLabel').text("Emin Misin?");
        $('#confirm-modal-bodyy').text("Katılma isteğini reddetmek istediğine emin misin?");
    });

    $(document).ready(function () {
        var EtkId =@Model.Ilan.Id;

        $(".ktl-iptal").click(function () {
            $('#ConfirmModal').modal('hide');
            var ID = $(this).data("id");
            var btntext = this.text;
            var DR = "";
            if (this.text === "Evet Onayla") {
                DR = "Onayla";
            }
            else if (this.text === "Evet Reddet") {
                DR = "Reddet";
            }
            $.ajax({
                type: "POST",
                url: '/Home/EtkinlikOnayla',
                data: { KatilanIDOnayla: ID, OnayDurumu: DR },
                success: function (result) {
                    if (result === "true") {
                        $('#KatilmaModalLongTitle').attr("class", "text-success")
                        $('#KatilmaModalLongTitle').text("İşlem Başarılı");
                        if (btntext ==="Evet Onayla") {
                            $('#modal-bodyy').text("Katılma isteğini onayladın.");
                        }
                        else if (btntext === "Evet Reddet") {
                            $('#modal-bodyy').text("Katılma isteğini reddettin.");
                        }

                    }
                    else {
                        console.log("false" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-danger")
                        $('#KatilmaModalLongTitle').text("Sorun Oluştu, Tekrar Dene!");
                        $('#modal-bodyy').text("Katılma isteğini geri alamadık!.");
                    }
                    ktldurum = result;
                    $('#KatilmaModalCenter').modal('show');
                }
            });
        });

        $(".ktl-onay-iptal").click(function () {
            $('#ConfirmModalIptal').modal('hide');
            var ID = $(this).data("id");
            $.ajax({
                type: "POST",
                url: '/Home/EtkinlikOnayiIptal',
                data: { KatilanIDOnayIptal: ID},
                success: function (result) {
                    if (result === "true") {
                        $('#KatilmaModalLongTitle').attr("class", "text-success")
                        $('#KatilmaModalLongTitle').text("İşlem Başarılı");
                            $('#modal-bodyy').text("Katılanlardan çıkarıldı.");
                    }
                    else {
                        $('#KatilmaModalLongTitle').attr("class", "text-danger")
                        $('#KatilmaModalLongTitle').text("Sorun Oluştu Tekrar Dene!");
                        $('#modal-bodyy').text("Katılanlardan çıkaramadık!.");
                    }
                    ktldurum = result;
                    $('#KatilmaModalCenter').modal('show');
                }
            });
        });

        $("#modal-tamam").click(function () {
            if (ktldurum === "true") {
                window.location.href = "/Home/EventConfirmPage/" + EtkId;
            }
        });

        $("#modal-cik").click(function () {
            if (ktldurum === "true") {
                window.location.href = "/Home/EventConfirmPage/" + EtkId;
            }
        });
    });
</script>
