@model NeYapsak.Entity.Entity.Ilan
@{
    ViewBag.Title = "EventConfirmPage";
    Layout = "~/Views/Shared/_Layout-3-TopMenu-User.cshtml";
}

<style type="text/css">
    .btn-sekillendir-sml {
        display: block;
        border-radius: 20px;
        background-color: transparent;
        position: relative;
        width: 125px;
        margin: 0 auto 1px;
        padding: 1px 0;
        font-size: 0.875rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        color: #f74c3c;
        border: 2px solid #f74c3c;
        transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    }

        .btn-sekillendir-sml:hover {
            color: #e7e6f1;
            background: #f74c3c;
            box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.3);
        }
</style>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="container emp-profile">

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>İlan Başlığı</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Başlangıç Tarihi</th>
                </tr>
                <tr>
                    <th><p><a href="/Home/MyEventDetail/@Model.Id" class="cs-renk">@Model.Baslik</a></p></th>
                    <th><p class="text-muted">@Model.OlusturmaTarihi</p></th>
                    <th><p class="text-muted">@Model.BaslangicTarihi</p></th>
                </tr>
            </thead>
        </table>
    </div>

    <!-- Onaylanmışlar -->
    <div class="card-body">
        @{NeYapsak.PL.Models.UserViewModel item = new NeYapsak.PL.Models.UserViewModel();
            item = ViewBag.user;
            List<NeYapsak.Entity.Entity.Ilan> Onaylanmislar = ViewBag.Onayladiklarim;
        }
        @if (Onaylanmislar.Count() == 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Onay Bekleyen Etkinlik Bulunamadı.</th>
                    </tr>
                </thead>
            </table>
        }
        else if (Onaylanmislar.Count() != 0)
        {
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Onay Bekleyen İstekler</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Katılmak İsteyen</th>
                            <th>İstek Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in Onaylanmislar)
                        {

                            foreach (NeYapsak.Entity.Entity.Katilan katilanlar in userviewilan.Katilanlar.Where(k => k.Silindi == false && k.Onay == true))
                            {
                                <tr>
                                    <td><img class="rounded-circle" width="45" height="45" src="@katilanlar.User.ProfilAvatarYolu" alt=""></td>
                                    <td><p class="text-muted">@katilanlar.User.Name @katilanlar.User.Surname</p></td>
                                    <td><p class="text-muted">@katilanlar.Tarih</p></td>
                                    <td>
                                        <div class="row">
                                            <!-- Button trigger modal -->
                                            <button id="btn-onay-iptal" type="button" class="btn btn-sekillendir-sml " data-toggle="modal" data-target="#ConfirmModalIptal">
                                                İptal Et
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="ConfirmModalIptal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalIptalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="ConfirmModalIptalLabel"></h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div id="confirm-iptal-modal-bodyy" class="modal-body">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="row">
                                                                <div class="col-md-3">&nbsp;</div>
                                                                <a id="ktl-onay-iptal" href="#" data-id="@katilanlar.Id" class="btn btn-sekillendir-sml col-md-3 ktl-onay-iptal">Evet</a>
                                                                <button type="button" class="btn btn-sekillendir-sml col-md-3" data-dismiss="modal">İptal</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

    <!-- Onay Bekleyenler -->
    <div class="card-body">
        @if (item.OnayimiBekleyenIlanlar.Count() == 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Onay Bekleyen Etkinlik Bulunamadı.</th>
                    </tr>
                </thead>
            </table>
        }
        else if (item.OnayimiBekleyenIlanlar.Count() != 0)
        {
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Onay Bekleyen İstekler</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Katılmak İsteyen</th>
                            <th>İstek Tarihi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in item.OnayimiBekleyenIlanlar)
                        {

                            foreach (NeYapsak.Entity.Entity.Katilan katilanlar in userviewilan.Katilanlar.Where(k => k.Silindi == false && k.Onay == false))
                            {
                                <tr>
                                    <td><img class="rounded-circle" width="45" height="45" src="@katilanlar.User.ProfilAvatarYolu" alt=""></td>
                                    <td><p class="text-muted">@katilanlar.User.Name @katilanlar.User.Surname</p></td>
                                    <td><p class="text-muted">@katilanlar.Tarih</p></td>
                                    <td>
                                        <div class="row">
                                            <!-- Button trigger modal -->
                                            <button id="btn-onayla" type="button" class="btn btn-sekillendir-sml " data-toggle="modal" data-target="#ConfirmModal">
                                                Onayla
                                            </button>
                                            <button id="btn-reddet" type="button" class="btn btn-sekillendir-sml " data-toggle="modal" data-target="#ConfirmModal">
                                                Reddet
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="ConfirmModalLabel"></h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div id="confirm-modal-bodyy" class="modal-body">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="row">
                                                                <div class="col-md-3">&nbsp;</div>
                                                                <a id="ktl-onay" href="#" data-id="@katilanlar.Id" class="btn btn-sekillendir-sml col-md-3 ktl-iptal">Onayla</a><a id="ktl-red" href="#" data-id="@katilanlar.Id" class="btn btn-sekillendir-sml col-md-3 ktl-iptal">Reddet</a>
                                                                <button type="button" class="btn btn-sekillendir-sml col-md-3" data-dismiss="modal">İptal</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="KatilmaModalCenter" tabindex="-1" role="dialog" aria-labelledby="KatilmaModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="KatilmaModalLongTitle"></h5>
                <button id="modal-cik" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-bodyy" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="modal-tamam" type="button" class="btn btn-secondary" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var btnModalOnay = document.getElementById("ktl-onay");
    var btnModalRed = document.getElementById("ktl-red");
    $("#btn-onayla").click(function () {
        console.log(this.text);
        btnModalRed.style.display = "none";
        btnModalOnay.style.display = "block";
        $('#ConfirmModalLabel').attr("class", " text-info")
        $('#ConfirmModalLabel').text("Emin Misin?");
        $('#confirm-modal-bodyy').text("Katılma İsteğini Onaylamak İstediğine Emin Misin?");
    });
    $("#btn-onay-iptal").click(function () {
        console.log(this.text);
        $('#ConfirmModalIptalLabel').attr("class", " text-info")
        $('#ConfirmModalIptalLabel').text("Emin Misin?");
        $('#confirm-iptal-modal-bodyy').text("Katılanlardan Çıkarmak İstediğine Emin Misin?");
    });
    $("#btn-reddet").click(function () {
        console.log(this.text);
        btnModalRed.style.display = "block";
        btnModalOnay.style.display = "none";
        $('#ConfirmModalLabel').attr("class", " text-info")
        $('#ConfirmModalLabel').text("Emin Misin?");
        $('#confirm-modal-bodyy').text("Katılma İsteğini Reddetmek İstediğine Emin Misin?");
    });
    $(document).ready(function () {
         var EtkId=@Model.Id;
        $(".ktl-iptal").click(function () {
            $('#ConfirmModal').modal('hide');
            var ID = $(this).data("id");
            var btntext = this.text;
            console.log(this.text);
            var DR = "";
            if (this.text === "Onayla") {
                DR = "Onayla";
            }
            else if (this.text === "Reddet") {
                DR = "Reddet";
            }
            console.log("click" + ID + DR + EtkId);
            $.ajax({
                //console.log("ajax");
                type: "POST",
                url: '/Home/EtkOnayla',
                data: { kIDOnay: ID, durum: DR },
                success: function (result) {
                    if (result === "true") {
                        console.log("true" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-success")
                        $('#KatilmaModalLongTitle').text("İşlem Başarılı");
                        if (btntext ==="Onayla") {
                            $('#modal-bodyy').text("Katılma İsteğini Onayladın.");
                        }
                        else if (btntext === "Reddet") {
                            $('#modal-bodyy').text("Katılma İsteğini Reddettin.");
                        }

                    }
                    else {
                        console.log("false" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-danger")
                        $('#KatilmaModalLongTitle').text("Sorun Oluştu Tekrar Deneyin!");
                        $('#modal-bodyy').text("Katılma İsteğini Geri Alamadık!.");
                    }
                    ktldurum = result;
                    $('#KatilmaModalCenter').modal('show');
                }
            });
        });
        $("#modal-tamam").click(function () {
            console.log("tmm clk");
            if (ktldurum === "true") {
                window.location.href = "/Home/EventConfirmPage/" + EtkId;
            }
        });
        $("#modal-cik").click(function () {
            console.log("cik clk");
            if (ktldurum === "true") {
                window.location.href = "/Home/EventConfirmPage/" + EtkId;
            }
        });

        $(".ktl-onay-iptal").click(function () {
            $('#ConfirmModalIptal').modal('hide');
            var ID = $(this).data("id");
            var btntext = this.text;
            console.log(this.text);
            $.ajax({
                //console.log("ajax");
                type: "POST",
                url: '/Home/EtkOnayIptal',
                data: { kIDOnay: ID},
                success: function (result) {
                    if (result === "true") {
                        console.log("true" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-success")
                        $('#KatilmaModalLongTitle').text("İşlem Başarılı");
                            $('#modal-bodyy').text("Katılanlardan Çıkarıldı.");
                    }
                    else {
                        console.log("false" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-danger")
                        $('#KatilmaModalLongTitle').text("Sorun Oluştu Tekrar Deneyin!");
                        $('#modal-bodyy').text("Katılanlardan Çıkaramadık!.");
                    }
                    ktldurum = result;
                    $('#KatilmaModalCenter').modal('show');
                }
            });
        });
    });
</script>
