@model NeYapsak.Entity.Entity.Ilan
@{
    Layout = "~/Views/Shared/_Layout-2-TopMenu-Details.cshtml";
}

<div class="col-md-9 gedf-main">
    <!--- \\\\\\\Etkinlik Oluşturma-->
    <div class="card gedf-card">
        <div class="card-header justify-content-center text-center">
            <strong>@Model.Baslik</strong>
        </div>
        @using (Html.BeginForm("EtkDuzenle", "Home", new { id = Model.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="card-body" id="etk-ols">
                <div class="row">
                    <label class="etk-ols-lbl">Etkinlik Sahibi: </label>
                    <div class="h5 m-0"><a href="/Home/MyProfile" class="cs-renk">@Model.User.Name @Model.User.Surname</a></div>
                </div><br>
                <div class="row">
                    <label class="etk-ols-lbl">Etkinlik başlığı: </label><input type="text" readonly name="Baslik" class="form-control" id="ilan-baslik" style="width: 450px; height: 35px;" value="@Model.Baslik" required>
                    @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
                </div><br>
                <div class="row">
                    <label class="etk-ols-lbl">Gerçekleşeceği şehir </label><input type="text" readonly name="il" class="form-control" id="etk-il" style="width: 450px; height: 35px;" value="@Model.Il" required><br>
                    @Html.ValidationMessageFor(model => model.Il, "", new { @class = "text-danger" })
                </div><br>
                <div class="row">
                    <label class="etk-ols-lbl">Gerçekleşeceği ilçe </label>
                    <select id="etk-ilce-sec" class="form-control" name="ilce" readonly style="display:none;width: 450px; height: 35px;" required>
                        <option value="">İlçe Seçiniz</option>
                        <option value="Üsküdar">Üsküdar</option>
                        <option value="Kadıköy">Kadıköy</option>
                        <option value="Beşiktaş">Beşiktaş</option>
                        <option value="Karaköy">Karaköy</option>
                        <option value="Taksim">Taksim</option>
                        <option value="Bağcılar">Bağcılar</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Ilce, "", new { @class = "text-danger" })
                    <input type="text" readonly name="ilce" class="form-control" id="etk-ilce" style="width: 450px; height: 35px;" value="@Model.Ilce" required><br>
                </div><br>
                <div class="row">
                    <label class="etk-ols-lbl">Konum:</label><input type="text" readonly name="konum" class="form-control" id="ilan-baslik" style="width: 450px; height: 35px;" value="Girilmemiş" required><br>
                    @Html.ValidationMessageFor(model => model.Konum, "", new { @class = "text-danger" })
                </div><br>
                <div class="row">
                    <label class="etk-ols-lbl form">Oluşturulma tarihi: </label><input type="datetime-local" id="etk-OlusturmaTarihi" name="OlusturmaTarihi" value="@Model.OlusturmaTarihi.ToString("s")" required readonly class="form-control" style="width: 450px;"><br>
                    @Html.ValidationMessageFor(model => model.OlusturmaTarihi, "", new { @class = "text-danger" })
                </div><br>
                <div class="row">
                    <label class="etk-ols-lbl form">Gerçekleşeceği vakit: </label><input type="datetime-local" id="ilan-vakit" name="BaslangicTarihi" value="@Model.BaslangicTarihi.ToString("s")" required readonly class="form-control" style="width: 450px;"><br>
                    @Html.ValidationMessageFor(model => model.BaslangicTarihi, "", new { @class = "text-danger" })
                </div><br>
                <div class="row">
                    <label class="etk-ols-lbl">Kalan kontenjan: </label><input type="number" readonly name="Kontenjan" id="ilan-baslik" class="form-control" style="width:50px;height:30px;padding-right:0" value="@Model.Kontenjan" required><br>
                    @Html.ValidationMessageFor(model => model.Kontenjan, "", new { @class = "text-danger" })
                </div><br>
                <div class="row">
                    <label class="etk-ols-lbl">Etkinlik özeti: </label><textarea required type="text" readonly name="Ozet" id="ilan-baslik" style="width: 450px;" maxlength="300" placeholder="Etkinliğini 300 karakter ile açıklamanın beklenmiş olduğu kısım" class="form-control">@Model.Ozet</textarea><br>
                    @Html.ValidationMessageFor(model => model.Ozet, "", new { @class = "text-danger" })
                </div><br>
                <div class="row">
                    <label class="etk-ols-lbl">Etiketler: </label>Tıklanabilir etiketler <br>
                </div><br>
                <div class="justify-content-center row">
                    <div class="col-md-3">
                        <a id="etk-duzenle" href="#etk-ols" class="btn cs-arka-renk" onclick="myetkFunction();">Etkinliği Düzenle</a>
                    </div>
                    <div class="col-md-3">
                        <!-- Button trigger modal -->
                        <button id="etk-sil" type="button" class="btn cs-arka-renk" data-toggle="modal" data-target="#etkinlikSilModalCenter">
                            Etkinliği Sil
                        </button>

                        <button id="etk-kaydet" type="submit" class="btn cs-arka-renk" style="display:none;">Kaydet</button>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="etkinlikSilModalCenter" tabindex="-1" role="dialog" aria-labelledby="etkinlikSilModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="etkinlikSilModalLongTitle">Etkinlik Silinsin Mi?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Merhaba @Model.User.Name etkinliği silmek istediğine emin misin?
                        </div>
                        <div class="modal-footer">
                            <a href="/Home/EtkSil/@Model.Id" class="btn cs-arka-renk">Etkinliği Sil</a>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <!--- \\\\\\\Etkinlik Oluşturma Bitiş-->
</div>
<script type="text/javascript">
    var etkduzenleBtn = document.getElementById("etk-duzenle");
    var etksilBtn = document.getElementById("etk-sil");
    var etkkaydetBtn = document.getElementById("etk-kaydet");
    var selectIlce = document.getElementById("etk-ilce-sec");
    var etkIlce = document.getElementById("etk-ilce");
    function myetkFunction() {
        if (etkkaydetBtn.style.display === "none") {
            etkkaydetBtn.style.display = "block";
            etkduzenleBtn.textContent = "Vazgeç";
            etksilBtn.style.display = "none";
            etkIlce.style.display = "none";
            selectIlce.style.display = "block";
            var seciliilce = $("#etk-ilce").val();
            $("#etk-ilce-sec > option").each(function (i) {
                if (this.value === seciliilce) {
                    selectIlce.selectedIndex = i;
                }
            });
            $(".form-control").removeAttr("readonly");
            $("#etk-il").attr('readonly', true);
            $("#etk-OlusturmaTarihi").attr('readonly', true);
        } else {
            etkkaydetBtn.style.display = "none";
            etkduzenleBtn.textContent = "Etkinliği Düzenle";
            etksilBtn.style.display = "block";
            etkIlce.style.display = "block";
            selectIlce.style.display = "none";
            $(".form-control").attr('readonly', true);
        }
    }
    var silindi = "@Model.Silindi";
    var yayin = "@Model.Yayindami";
    if (silindi === "True" || yayin==="False") {
        etkduzenleBtn.style.display = "none"
        etkkaydetBtn.style.display = "none"
        etksilBtn.style.display = "none"
    }
</script>