@model NeYapsak.PL.Models.UserViewModel
@{
    /**/

    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout-3-TopMenu-User.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                @{NeYapsak.PL.Models.UserViewModel item = new NeYapsak.PL.Models.UserViewModel();
                    item = ViewBag.user;
                }
                <img id="profilresim" class="rounded-circle" style="height:250px" src="@item.Kullanici.ProfilAvatarYolu" alt="">
                @using (Html.BeginForm("MyProfile", "Home", FormMethod.Post, new { encType = "multipart/form-data", id = "resimform" }))
                {@Html.AntiForgeryToken()
                <div class="file btn btn-lg btn-primary">
                    Fotoğraf Seç
                    <input type="file" name="PictureUpload" value="" id="btnresimsec" onchange="document.getElementById('resimform').submit();" />
                </div><br /><br />
                <input id="rsmkaydet" class="file btn btn-lg btn-primary" type="submit" name="Kaydet" value="Resmi Kaydet" style="display:none" />
            }
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head tab-content profile-tab">
                <div class="row">
                    <div class="col-md-3">
                        <label>Adı</label>
                    </div>
                    <div class="col-md-9">
                        <p>@item.Kullanici.Name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Soyadı</label>
                    </div>
                    <div class="col-md-9">
                        <p>@item.Kullanici.Surname</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>E-Posta</label>
                    </div>
                    <div class="col-md-9">
                        <p>@item.Kullanici.Email</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Yaş</label>
                    </div>
                    <div class="col-md-9">
                        <p>@(Convert.ToInt32(DateTime.Now.Year - item.Kullanici.DogumTarihi.Year))</p>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("HKDuzenle", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-8">

                        <p id="hk-bilgisi" class="text-normal cs-renk-tab">@item.Kullanici.Bio</p>
                        <div id="hkyenigir" class="row" style="display:none;">
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-9">
                                        <textarea class="form-control" cols="20" data-val="true" data-val-length="Bio Bio karakterden uzun olmamalıdır!" data-val-length-max="300" id="hkyeni" maxlength="300" minlength="10" name="Kullanici.Bio" placeholder="Etkinliğini 300 karakter ile açıkla" required="True" rows="2" style="width: 275px;height:100px;">@item.Kullanici.Bio</textarea>
                                        @Html.ValidationMessageFor(model => model.Kullanici.Bio)
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div><br />
                    </div>
                    <div class="col-md-4 text-left">
                        <div class="row justify-content">
                            <input type="submit" style="display:none" id="hkkaydet" name="hkkaydet" value="Kaydet" class="btn cs-arka-renk btn-sm mb-1" />
                        </div>
                        <div class="row justify-content">
                            <button type="button" id="hkduzenle" name="button" class="btn cs-arka-renk btn-sm mb-1 ">Düzenle</button>
                        </div>
                    </div>
                </div>

            }
            <p class="text-normal cs-renk-tab">Düzenlediği: <span class="font-weight-bold">@item.KullaniciIlanlari.Where(i => i.Silindi == false && i.Yayindami == true).Count()</span>&nbsp;&nbsp; Katıldığı: <span class="font-weight-bold">@item.KatildigiIlanSayisi</span>&nbsp;&nbsp;İlgilendiği:<span class="font-weight-bold">@item.IlgilendigiIlanSayisi</span>&nbsp;&nbsp;Onayımı Bekleyen:<span class="font-weight-bold">@item.KullaniciIlanlari.Where(i => i.Silindi == false && i.Yayindami == false).Count()</span></p>
        </div>
        <div class="col-md-2">
            <!--şimdilikboş-->
        </div>
    </div>
    <div class="row">
        <!--kişi kendi sayfasına gelince çıkacak olan-->
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-8">
            <h4 class="text-center">Etkinlik İşlemleri</h4>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Yayındaki etkinliklerim
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlan Başlığı</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Başlangıç Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in item.KullaniciIlanlari)
                                        {
                                            <tr>
                                                <td><a href="/Home/MyEventDetail/@userviewilan.Id" class="cs-renk">@userviewilan.Baslik</a></td>
                                                <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--1.kart bitiş-->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Onayımı bekleyen etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            İlgilendiğim(Onay beklediğim) etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Daha önce düzenlediğim etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Katıldığım etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var hkyenigir = document.getElementById("hkyenigir");
        var hkduzenleBtn = document.getElementById("hkduzenle");
        var hkkaydetBtn = document.getElementById("hkkaydet");
        var hkeski = document.getElementById("hk-bilgisi");
        hkduzenleBtn.onclick = function hkFunction() {
            if (hkyenigir.style.display === "none") {
                hkyenigir.style.display = "block";
                hkduzenleBtn.textContent = "Vazgeç";
                hkeski.style.display = "none";
                hkkaydetBtn.style.display = "block";
            } else {
                hkyenigir.style.display = "none";
                hkduzenleBtn.textContent = "Düzenle";
                hkeski.style.display = "block";
                hkkaydetBtn.style.display = "none";
            }
        }
    });

</script>
