@model NeYapsak.PL.Models.UserViewModel
@{
    /**/

    ViewBag.Title = "Profilim";
    Layout = "~/Views/Shared/_Layout-3-TopMenu-User.cshtml";
}
<link href="~/css/Buton-style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<!--Profil -->
<div class="container emp-profile">
    <!--Kullanıcı Bilgileri-->
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img id="profilresim" class="rounded-circle" style="height:250px" src="@Model.Kullanici.ProfilAvatarYolu" alt="">
                @using (Html.BeginForm("MyProfile", "Home", FormMethod.Post, new { encType = "multipart/form-data", id = "resimform" }))
                {@Html.AntiForgeryToken()
                <div class="file btn btn-lg btn-primary">
                    Fotoğraf Seç
                    <input type="file" name="PictureUpload" value="" id="btnresimsec" onchange="document.getElementById('resimform').submit();" />
                </div><br /><br />
                <input id="rsmkaydet" class="file btn btn-lg btn-primary" type="submit" name="Kaydet" value="Resmi Kaydet" style="display:none" />
            }
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head tab-content profile-tab">
                <div class="row">
                    <div class="col-md-3">
                        <label>Adı</label>
                    </div>
                    <div class="col-md-9">
                        <p>@Model.Kullanici.Name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Soyadı</label>
                    </div>
                    <div class="col-md-9">
                        <p>@Model.Kullanici.Surname</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>E-Posta</label>
                    </div>
                    <div class="col-md-9">
                        <p>@Model.Kullanici.Email</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Yaş</label>
                    </div>
                    <div class="col-md-9">
                        <p>@(Convert.ToInt32(DateTime.Now.Year - Model.Kullanici.DogumTarihi.Year))</p>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("HakkimdaDuzenle", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-10">

                        <p id="hk-bilgisi" class="text-normal cs-renk-tab">@Model.Kullanici.Bio</p>
                        <div id="hkyenigir" class="row" style="display:none;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="form-control" cols="20" data-val="true" data-val-length="Bio 300 karakterden uzun olmamalıdır!" data-val-length-max="300" id="hkyeni" maxlength="300" minlength="10" name="Kullanici.Bio" placeholder="Etkinliğini 300 karakter ile açıkla" required="True" rows="3">@Model.Kullanici.Bio</textarea>
                                        @Html.ValidationMessageFor(model => model.Kullanici.Bio, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div><br />
                    </div>
                    <div class="col-md-2 text-left">
                        <div class="row justify-content">
                            <input type="submit" style="display:none" id="hkkaydet" name="hkkaydet" value="Kaydet" class="btn btn-sekillendir-sml btn-sm mb-1" />
                        </div>
                        <div class="row justify-content">
                            <button type="button" id="hkduzenle" name="button" class="btn btn-sekillendir-sml btn-sm mb-1 ">Düzenle</button>
                        </div>
                    </div>
                </div>

            }
            <p class="text-normal cs-renk-tab">Düzenlediğim: <span class="font-weight-bold">@Model.KullaniciIlanlari.Count()</span>&nbsp;&nbsp; Katıldığım: <span class="font-weight-bold">@Model.KatildigiIlanlar.Count()</span>&nbsp;&nbsp;İlgilendiğim: <span class="font-weight-bold">@Model.IlgilendigiIlanlar.Count()</span>&nbsp;&nbsp;Onayımı Bekleyen: <span class="font-weight-bold">@Model.OnayimiBekleyenIlanlar.Count()</span></p>
        </div>
        <div class="col-md-2">
            <!--şimdilikboş-->
        </div>
    </div>
    <!--Kullanıcı Bilgileri Bitiş-->
    <!--Acordion-->
    <div class="row">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-8">
            <h4 class="text-center">Etkinlik İşlemleri</h4>
            <!-- Yayındaki Etkinliklerim-->
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0 text-center">
                            <button id="btncollapseOne" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Yayındaki Etkinliklerim
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                @if (Model.KullaniciIlanlari.Where(i => i.Silindi == false && i.Yayindami == true).Count() == 0)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Yayında Etkinliğin Yok.</th>
                                            </tr>
                                        </thead>
                                    </table>
                                }
                                else if (Model.KullaniciIlanlari.Where(i => i.Silindi == false && i.Yayindami == true).Count() != 0)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>İlan Başlığı</th>
                                                <th>Oluşturulma Tarihi</th>
                                                <th>Başlangıç Tarihi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in Model.KullaniciIlanlari.Where(i => i.Silindi == false && i.Yayindami == true).ToList())
                                            {
                                            <tr>
                                                <td><a href="/Home/MyEventDetail/@userviewilan.Id" class="cs-renk">@userviewilan.Baslik</a></td>
                                                <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                                <td style="padding-left:1px;padding-right:1px;"> <a style="width:80px;" id="etk-duzenle" href="/Home/MyEventDetail/@userviewilan.Id" class="btn btn-sekillendir-sml">İncele</a></td>
                                                <td style="padding-left:1px;padding-right:1px;"> <a id="etk-yonet" href="/Home/EventConfirmPage/@userviewilan.Id" style="width:80px;" class="btn btn-sekillendir-sml">Yönet</a></td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Yayındaki Etkinliklerim Bitiş-->
            <!--  Onayımı Bekleyen Etkinlikler-->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0 text-center">
                        <button id="btncollapseTwo" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Onayımı Bekleyen Etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            @if (Model.OnayimiBekleyenIlanlar.Count() == 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Onay Bekleyen Etkinlik Yok.</th>
                                        </tr>
                                    </thead>
                                </table>
                            }
                            else if (Model.OnayimiBekleyenIlanlar.Count() != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlan Başlığı</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Başlangıç Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in Model.OnayimiBekleyenIlanlar)
                                        {
                                            <tr>
                                                <td><a href="/Home/MyEventDetail/@userviewilan.Id" class="cs-renk">@userviewilan.Baslik</a></td>
                                                <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                                <td>
                                                    <a id="etk-duzenle" href="/Home/EventConfirmPage/@userviewilan.Id" class="btn cs-arka-renk">
                                                        <div class="row">
                                                            <div class="col-md-9" style="width:150px;color:white;padding-right:0px;padding-left:3px;">Onay İşlemleri</div>
                                                            <div class="col-md-1" style="padding-left:3px;max-width:none;text-shadow: 2px 2px 3px #000;color:white;font-weight:bold">@userviewilan.Katilanlar.Where(i => i.Onay == false && i.Silindi == false).Count()</div>
                                                        </div>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--  Onayımı Bekleyen Etkinlikler Bitiş-->
            <!-- İlgilendiğim(Onay Beklediğim) Etkinlikler -->
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            İlgilendiğim(Onay Beklediğim) Etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            @if (Model.IlgilendigiIlanlar.Count() == 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlgilendiğin Etkinlik Yok.</th>
                                        </tr>
                                    </thead>
                                </table>
                            }
                            else if (Model.IlgilendigiIlanlar.Count() != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlan Başlığı</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Başlangıç Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in Model.IlgilendigiIlanlar)
                                        {
                                            <tr>
                                                <td><a id="@("link-etk-detay"+userviewilan.Id)" data-id="@userviewilan.Id" href="#" class="cs-renk link-etk-detay">@userviewilan.Baslik</a></td>
                                                <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                                <td>
                                                    <!-- Modal İstek Onay -->
                                                    <button id="btn-ilgi-iptal" type="button" class="btn cs-arka-renk" data-toggle="modal" data-target="#ConfirmModalIlgiIptal">
                                                        Vazgeç
                                                    </button>
                                                    <div class="modal fade" id="ConfirmModalIlgiIptal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalIlgiIptalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="ConfirmModalIlgiIptalLabel">Emin Misin?</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div id="confirm-modal-ilgi-iptal-body" class="modal-body">
                                                                    Vazgeçmek istediğine emin misin?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <div class="row">
                                                                        <div class="col-md-3">&nbsp;</div>

                                                                        <a id="ktl-istek-iptal" href="#" data-id="@userviewilan.Id" class="btn cs-arka-renk col-md-3 ktl-istek-iptal">Evet</a>
                                                                        <button type="button" class="btn cs-arka-renk col-md-3" data-dismiss="modal">İptal</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Modal İstek Onay Bitiş -->
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- İlgilendiğim(Onay Beklediğim) Etkinlikler Bitiş-->
            <!-- Daha Önce Düzenlediğim Etkinlikler-->
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Daha Önce Düzenlediğim Etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            @if (Model.KullaniciIlanlari.Where(i => i.Silindi == true || i.Yayindami == false).Count() == 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Düzenlediğin Etkinliğin Yok.</th>
                                        </tr>
                                    </thead>
                                </table>
                            }
                            else if (Model.KullaniciIlanlari.Where(i => i.Silindi == true || i.Yayindami == false).Count() != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlan Başlığı</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Başlangıç Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in Model.KullaniciIlanlari.Where(i => i.Silindi == true || i.Yayindami == false).ToList())
                                        {
                                            <tr>
                                                <td><a href="/Home/MyEventDetail/@userviewilan.Id" class="cs-renk">@userviewilan.Baslik</a></td>
                                                <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                                <td> <a id="etk-duzenle" href="/Home/MyEventDetail/@userviewilan.Id" class="btn btn-sekillendir-sml">İncele</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Daha Önce Düzenlediğim Etkinlikler Bitiş-->
            <!-- Katılacağım Etkinlikler-->
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Katılacağım Etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            @if (Model.KatildigiIlanlar.Where(i => i.Yayindami == true && i.Silindi == false).Count() == 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Katılacağın Etkinlik Yok.</th>
                                        </tr>
                                    </thead>
                                </table>
                            }
                            else if (Model.KatildigiIlanlar.Where(i => i.Yayindami == true && i.Silindi == false).Count() != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlan Başlığı</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Başlangıç Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in Model.KatildigiIlanlar.Where(i => i.Yayindami == true && i.Silindi == false).ToList())
                                        {
                                            <tr>
                                                <td><a id="@("link-etk-detay"+userviewilan.Id)" data-id="@userviewilan.Id" href="#" class="cs-renk link-etk-detay">@userviewilan.Baslik</a></td>
                                                <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                                <td>
                                                    <!-- Modal Katilacagim Onay -->
                                                    <button id="btn-katilacagim" type="button" class="btn btn-sekillendir-sml " data-toggle="modal" data-target="#ConfirmModalKatilacagim">
                                                        Vazgeç
                                                    </button>
                                                    <div class="modal fade" id="ConfirmModalKatilacagim" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalKatilacagimLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="ConfirmModalKatilacagimLabel">Emin Misin?</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div id="confirm-modal-katilacagim-body" class="modal-body">
                                                                    Vazgeçmek istediğine emin misin?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <div class="row">
                                                                        <div class="col-md-3">&nbsp;</div>
                                                                        <a id="ktl-iptal" href="#" data-id="@userviewilan.Id" class="btn cs-arka-renk col-md-3 ktl-iptal">Evet</a>
                                                                        <button type="button" class="btn cs-arka-renk col-md-3" data-dismiss="modal">İptal</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Modal Katilacagim Onay Bitiş-->

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Katılacağım Etkinlikler Bitiş-->
            <!-- Katıldığım Etkinlikler -->
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Katıldığım Etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            @if (Model.KatildigiIlanlar.Where(i => i.Yayindami == false || i.Silindi == true).Count() == 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Katıldığın Etkinlik Yok.</th>
                                        </tr>
                                    </thead>
                                </table>
                            }
                            else if (Model.KatildigiIlanlar.Where(i => i.Yayindami == false || i.Silindi == true).Count() != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlan Başlığı</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Başlangıç Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in Model.KatildigiIlanlar.Where(i => i.Yayindami == false || i.Silindi == true).ToList())
                                        {
                                            <tr>
                                                <td><a href="#" class="cs-renk link-etk-detay" id="@("link-etk-detay"+userviewilan.Id)" data-id="@userviewilan.Id">@userviewilan.Baslik</a></td>
                                                <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                                <td>
                                                <td> <a id="etk-duzenle" href="/Home/OtherEventDetail/@userviewilan.Id" class="btn btn-sekillendir-sml">İncele</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- Katıldığım Etkinlikler Bitiş-->
        </div>
    </div>
    <!--Acordion Bitiş-->
    <!-- Modal Bilgi-->
    <div class="modal fade" id="KatilmaModalCenter" tabindex="-1" role="dialog" aria-labelledby="KatilmaModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="KatilmaModalLongTitle"></h5>
                    <button id="modal-cik" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-katilma-bilgi-body" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button id="modal-tamam" type="button" class="btn cs-arka-renk" data-dismiss="modal">Tamam</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Bilgi Bitiş-->
</div>
<!--Profil Bitiş -->
<!--Hakkımda Düzenle Scripti -->
<script type="text/javascript">

    $(document).ready(function () {
        var url = window.location.href.split('#');
        if (url[1] === "collapseTwo") {
            $('#btncollapseTwo').trigger('click');
        }
        var hkyenigir = document.getElementById("hkyenigir");
        var hkduzenleBtn = document.getElementById("hkduzenle");
        var hkkaydetBtn = document.getElementById("hkkaydet");
        var hkeski = document.getElementById("hk-bilgisi");
        hkduzenleBtn.onclick = function hkFunction() {
            if (hkyenigir.style.display === "none") {
                hkyenigir.style.display = "block";
                hkduzenleBtn.textContent = "Vazgeç";
                hkeski.style.display = "none";
                hkkaydetBtn.style.display = "block";
            } else {
                hkyenigir.style.display = "none";
                hkduzenleBtn.textContent = "Düzenle";
                hkeski.style.display = "block";
                hkkaydetBtn.style.display = "none";
            }
        }
    });

</script>
<!--Hakkımda Düzenle Scripti Bitiş-->
<!--Jquery Scripti -->
<script type="text/javascript">
    $(document).ready(function () {

        $(".ktl-iptal").click(function () {
            var ID = $(this).data("id");
            $('#ConfirmModalKatilacagim').modal('hide');
            $.ajax({
                type: "POST",
                url: '/Home/KatilmaktanVazgec',
                data: { EtkIDIptal: ID },
                success: function (result) {
                    if (result === "true") {
                        $('#KatilmaModalLongTitle').attr("class", "text-success")
                        $('#KatilmaModalLongTitle').text("İşlem Başarılı");
                        $('#modal-katilma-bilgi-body').text("Katılmakatan vazgeçtin.");
                    }
                    else {
                        console.log("false" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-danger")
                        $('#KatilmaModalLongTitle').text("Sorun oluştu tekrar deneyin!");
                        $('#modal-katilma-bilgi-body').text("Katılmakatan vazgeçemedin!.");
                    }
                    ktldurum = result;
                    $('#KatilmaModalCenter').modal('show');
                }
            });
        });


        $(".ktl-istek-iptal").click(function () {
            var ID = $(this).data("id");
            $('#ConfirmModalIlgiIptal').modal('hide');
            $.ajax({
                type: "POST",
                url: '/Home/KatilmaIstegiIptal',
                data: { IstekIptalEtkID: ID },
                success: function (result) {
                    if (result === "true") {
                        $('#KatilmaModalLongTitle').attr("class", "text-success")
                        $('#KatilmaModalLongTitle').text("İşlem Başarılı");
                        $('#modal-katilma-bilgi-body').text("Katılma isteğini geri çektik.");
                    }
                    else {
                        $('#KatilmaModalLongTitle').attr("class", "text-danger")
                        $('#KatilmaModalLongTitle').text("Sorun Oluştu, Tekrar Dene!");
                        $('#modal-katilma-bilgi-body').text("Katılma isteğini geri alamadık!.");
                    }
                    ktldurum = result;
                    $('#KatilmaModalCenter').modal('show');
                }
            });
        });


        $("#modal-tamam").click(function () {
            console.log("tmm clk");
            if (ktldurum === "true") {
                window.location.href = "/Home/MyProfile";

            }
        });
        $("#modal-cik").click(function () {
            console.log("cik clk");
            if (ktldurum === "true") {
                window.location.href = "/Home/MyProfile";

            }
        });
    });
</script>
<!--Jquery Scripti -->
<script type="text/javascript">
    $(".link-etk-detay").click(function () {
        var ID = $(this).data("id");
        console.log(ID);
        $.ajax({
            type: "POST",
            url: '/Home/GSayacArttir',
            data: { EtkID: ID },
            success: function (result) {
                if (result === "True") {
                    window.location.href = "/Home/OtherEventDetail/" + ID;
                }
                else if (result === "False") {
                    window.location.href = "/Home/MyEventDetail/" + ID;
                }
                else {
                    alert(result);
                }
            }
        });
    });
</script>