@model NeYapsak.PL.Models.UserViewModel
@{
    /**/

    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout-3-TopMenu-User.cshtml";
}
<style type="text/css">
    .btn-sekillendir-sml {
        display: block;
        border-radius: 20px;
        background-color: transparent;
        position: relative;
        width: 125px;
        margin: 0 auto 1px;
        padding: 1px 0;
        font-size: 0.875rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
        color: #f74c3c;
        border: 2px solid #f74c3c;
        transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    }

        .btn-sekillendir-sml:hover {
            color: #e7e6f1;
            background: #f74c3c;
            box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.3);
        }
</style>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                @{NeYapsak.PL.Models.UserViewModel item = new NeYapsak.PL.Models.UserViewModel();
                    item = ViewBag.user;
                }
                <img id="profilresim" class="rounded-circle" style="height:250px" src="@item.Kullanici.ProfilAvatarYolu" alt="">
                @using (Html.BeginForm("MyProfile", "Home", FormMethod.Post, new { encType = "multipart/form-data", id = "resimform" }))
                {@Html.AntiForgeryToken()
                <div class="file btn btn-lg btn-primary">
                    Fotoğraf Seç
                    <input type="file" name="PictureUpload" value="" id="btnresimsec" onchange="document.getElementById('resimform').submit();" />
                </div><br /><br />
                <input id="rsmkaydet" class="file btn btn-lg btn-primary" type="submit" name="Kaydet" value="Resmi Kaydet" style="display:none" />
            }
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head tab-content profile-tab">
                <div class="row">
                    <div class="col-md-3">
                        <label>Adı</label>
                    </div>
                    <div class="col-md-9">
                        <p>@item.Kullanici.Name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Soyadı</label>
                    </div>
                    <div class="col-md-9">
                        <p>@item.Kullanici.Surname</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>E-Posta</label>
                    </div>
                    <div class="col-md-9">
                        <p>@item.Kullanici.Email</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label>Yaş</label>
                    </div>
                    <div class="col-md-9">
                        <p>@(Convert.ToInt32(DateTime.Now.Year - item.Kullanici.DogumTarihi.Year))</p>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("HKDuzenle", "Home", FormMethod.Post, new { encType = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-10">

                        <p id="hk-bilgisi" class="text-normal cs-renk-tab">@item.Kullanici.Bio</p>
                        <div id="hkyenigir" class="row" style="display:none;">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea class="form-control" cols="20" data-val="true" data-val-length="Bio Bio karakterden uzun olmamalıdır!" data-val-length-max="300" id="hkyeni" maxlength="300" minlength="10" name="Kullanici.Bio" placeholder="Etkinliğini 300 karakter ile açıkla" required="True" rows="3">@item.Kullanici.Bio</textarea>
                                        @Html.ValidationMessageFor(model => model.Kullanici.Bio, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div><br />
                    </div>
                    <div class="col-md-2 text-left">
                        <div class="row justify-content">
                            <input type="submit" style="display:none" id="hkkaydet" name="hkkaydet" value="Kaydet" class="btn btn-sekillendir-sml btn-sm mb-1" />
                        </div>
                        <div class="row justify-content">
                            <button type="button" id="hkduzenle" name="button" class="btn btn-sekillendir-sml btn-sm mb-1 ">Düzenle</button>
                        </div>
                    </div>
                </div>

            }
            <p class="text-normal cs-renk-tab">Düzenlediğim: <span class="font-weight-bold">@item.KullaniciIlanlari.Count()</span>&nbsp;&nbsp; Katıldığım: <span class="font-weight-bold">@item.KatildigiIlanlar.Count()</span>&nbsp;&nbsp;İlgilendiğim: <span class="font-weight-bold">@item.IlgilendigiIlanlar.Count()</span>&nbsp;&nbsp;Onayımı Bekleyen: <span class="font-weight-bold">@item.OnayimiBekleyenIlanlar.Count()</span></p>
        </div>
        <div class="col-md-2">
            <!--şimdilikboş-->
        </div>
    </div>
    <div class="row">
        <!--kişi kendi sayfasına gelince çıkacak olan-->
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-8">
            <h4 class="text-center">Etkinlik İşlemleri</h4>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0 text-center">
                            <button id="btncollapseOne" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Yayındaki Etkinliklerim
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="row">
                                @if (item.KullaniciIlanlari.Where(i => i.Silindi == false && i.Yayindami == true).Count() == 0)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Yayında Etkinliğin Yok.</th>
                                            </tr>
                                        </thead>
                                    </table>
                                }
                                else if (item.KullaniciIlanlari.Where(i => i.Silindi == false && i.Yayindami == true).Count() != 0)
                                {
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>İlan Başlığı</th>
                                                <th>Oluşturulma Tarihi</th>
                                                <th>Başlangıç Tarihi</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in item.KullaniciIlanlari.Where(i => i.Silindi == false && i.Yayindami == true).ToList())
                                            {
                                                <tr>
                                                    <td><a href="/Home/MyEventDetail/@userviewilan.Id" class="cs-renk">@userviewilan.Baslik</a></td>
                                                    <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                    <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                                    <td> <a id="etk-duzenle" href="/Home/MyEventDetail/@userviewilan.Id" class="btn btn-sekillendir-sml">İncele</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--1.kart bitiş-->
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0 text-center">
                        <button id="btncollapseTwo" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Onayımı Bekleyen Etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            @if (item.OnayimiBekleyenIlanlar.Count() == 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Onay Bekleyen Etkinlik Yok.</th>
                                        </tr>
                                    </thead>
                                </table>
                            }
                            else if (item.OnayimiBekleyenIlanlar.Count() != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlan Başlığı</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Başlangıç Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in item.OnayimiBekleyenIlanlar)
                                        {
                                            <tr>
                                                <td><a href="/Home/MyEventDetail/@userviewilan.Id" class="cs-renk">@userviewilan.Baslik</a></td>
                                                <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                                <td>
                                                    <a id="etk-duzenle" href="/Home/EventConfirmPage/@userviewilan.Id" class="btn cs-arka-renk">
                                                        <div class="row">
                                                            <div class="col-md-9" style="color:white;padding-right:0px;">Onay İşlemleri</div>
                                                            <div class="col-md-1" style="text-shadow: 2px 2px 3px #000;color:white;font-weight:bold">@userviewilan.Katilanlar.Where(i => i.Onay == false && i.Silindi == false).Count()</div>
                                                        </div>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            İlgilendiğim(Onay Beklediğim) Etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            @if (item.IlgilendigiIlanlar.Count() == 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlgilendiğin Etkinlik Yok.</th>
                                        </tr>
                                    </thead>
                                </table>
                            }
                            else if (item.IlgilendigiIlanlar.Count() != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlan Başlığı</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Başlangıç Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in item.IlgilendigiIlanlar)
                                        {
                                            <tr>
                                                <td><a href="/Home/MyEventDetail/@userviewilan.Id" class="cs-renk">@userviewilan.Baslik</a></td>
                                                <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <button id="btn-onayla" type="button" class="btn btn-sekillendir-sml " data-toggle="modal" data-target="#ConfirmModal">
                                                        Vazgeç
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="ConfirmModalLabel">Emin Misin?</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div id="confirm-modal-bodyy" class="modal-body">
                                                                    Vazgeçmek İstediğine Emin Misin?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <div class="row">
                                                                        <div class="col-md-3">&nbsp;</div>
                                                                        <a id="ktl-iptal" href="#" data-id="@userviewilan.Id" class="btn btn-sekillendir-sml col-md-3 ktl-iptal">Vazgeç</a>
                                                                        <button type="button" class="btn btn-sekillendir-sml col-md-3" data-dismiss="modal">İptal</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>


            <!-- Modal -->
            <div class="modal fade" id="KatilmaModalCenter" tabindex="-1" role="dialog" aria-labelledby="KatilmaModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="KatilmaModalLongTitle"></h5>
                            <button id="modal-cik" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="modal-bodyy" class="modal-body">

                        </div>
                        <div class="modal-footer">
                            <button id="modal-tamam" type="button" class="btn btn-secondary" data-dismiss="modal">Tamam</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="headingFour">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Daha Önce Düzenlediğim Etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            @if (item.KullaniciIlanlari.Where(i => i.Silindi == true || i.Yayindami==false).Count() == 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Düzenlediğin Etkinliğin Yok.</th>
                                        </tr>
                                    </thead>
                                </table>
                            }
                            else if (item.KullaniciIlanlari.Where(i => i.Silindi == true || i.Yayindami == false).Count() != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlan Başlığı</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Başlangıç Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in item.KullaniciIlanlari.Where(i => i.Silindi == true || i.Yayindami==false).ToList())
                                        {
                                            <tr>
                                                <td><a href="/Home/MyEventDetail/@userviewilan.Id" class="cs-renk">@userviewilan.Baslik</a></td>
                                                <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                                <td> <a id="etk-duzenle" href="/Home/MyEventDetail/@userviewilan.Id" class="btn btn-sekillendir-sml">İncele</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Katılacağım Etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            @if (item.KatildigiIlanlar.Where(i => i.Yayindami == true && i.Silindi==false).Count() == 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Katılacağın Etkinlik Yok.</th>
                                        </tr>
                                    </thead>
                                </table>
                            }
                            else if (item.KatildigiIlanlar.Where(i => i.Yayindami == true && i.Silindi == false).Count() != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlan Başlığı</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Başlangıç Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in item.KatildigiIlanlar.Where(i=>i.Yayindami== true && i.Silindi == false).ToList())
                                        {
                                            <tr>
                                                <td><a href="/Home/MyEventDetail/@userviewilan.Id" class="cs-renk">@userviewilan.Baslik</a></td>
                                                <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                                <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                                <td>
                                                    <!-- Button trigger modal -->
                                                    <button id="btn-onayla" type="button" class="btn btn-sekillendir-sml " data-toggle="modal" data-target="#ConfirmModal">
                                                        Vazgeç
                                                    </button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="ConfirmModalLabel">Emin Misin?</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div id="confirm-modal-bodyy" class="modal-body">
                                                                    Vazgeçmek İstediğine Emin Misin?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <div class="row">
                                                                        <div class="col-md-3">&nbsp;</div>
                                                                        <a id="ktl-iptal" href="#" data-id="@userviewilan.Id" class="btn btn-sekillendir-sml col-md-3 ktl-iptal">Vazgeç</a>
                                                                        <button type="button" class="btn btn-sekillendir-sml col-md-3" data-dismiss="modal">İptal</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingSix">
                    <h5 class="mb-0 text-center">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Katıldığım Etkinlikler
                        </button>
                    </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            @if (item.KatildigiIlanlar.Where(i => i.Yayindami == false || i.Silindi == true).Count() == 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Katıldığın Etkinlik Yok.</th>
                                        </tr>
                                    </thead>
                                </table>
                            }
                            else if (item.KatildigiIlanlar.Where(i => i.Yayindami == false || i.Silindi == true).Count() != 0)
                            {
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>İlan Başlığı</th>
                                            <th>Oluşturulma Tarihi</th>
                                            <th>Başlangıç Tarihi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (NeYapsak.Entity.Entity.Ilan userviewilan in item.KatildigiIlanlar.Where(i => i.Yayindami == false || i.Silindi==true).ToList())
                                        {
                                        <tr>
                                            <td><a href="/Home/OtherEventDetail/@userviewilan.Id" class="cs-renk">@userviewilan.Baslik</a></td>
                                            <td><p class="text-muted">@userviewilan.OlusturmaTarihi</p></td>
                                            <td><p class="text-muted">@userviewilan.BaslangicTarihi</p></td>
                                            <td>
                                            <td> <a id="etk-duzenle" href="/Home/OtherEventDetail/@userviewilan.Id" class="btn btn-sekillendir-sml">İncele</a></td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        var url = window.location.href.split('#');
        if (url[1] === "collapseTwo") {
            $('#btncollapseTwo').trigger('click');
        }
        var hkyenigir = document.getElementById("hkyenigir");
        var hkduzenleBtn = document.getElementById("hkduzenle");
        var hkkaydetBtn = document.getElementById("hkkaydet");
        var hkeski = document.getElementById("hk-bilgisi");
        hkduzenleBtn.onclick = function hkFunction() {
            if (hkyenigir.style.display === "none") {
                hkyenigir.style.display = "block";
                hkduzenleBtn.textContent = "Vazgeç";
                hkeski.style.display = "none";
                hkkaydetBtn.style.display = "block";
            } else {
                hkyenigir.style.display = "none";
                hkduzenleBtn.textContent = "Düzenle";
                hkeski.style.display = "block";
                hkkaydetBtn.style.display = "none";
            }
        }
    });

</script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".ktl-iptal").click(function () {
            var ID = $(this).data("id");
            $('#ConfirmModal').modal('hide');
            console.log("click" + ID);
            $.ajax({
                //console.log("ajax");
                type: "POST",
                url: '/Home/KatilmaIptal',
                data: { iIdIptal: ID },
                success: function (result) {
                    if (result === "true") {
                        console.log("true" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-success")
                        $('#KatilmaModalLongTitle').text("İşlem Başarılı");
                        $('#modal-bodyy').text("Katılma İsteğini Geri Çektik.");
                    }
                    else {
                        console.log("false" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-danger")
                        $('#KatilmaModalLongTitle').text("Sorun Oluştu Tekrar Deneyin!");
                        $('#modal-bodyy').text("Katılma İsteğini Geri Alamadık!.");
                    }
                    ktldurum = result;
                    $('#KatilmaModalCenter').modal('show');
                }
            });
        });
        $("#modal-tamam").click(function () {
            console.log("tmm clk");
            if (ktldurum === "true") {
                window.location.href = "/Home/MyProfile";

            }
        });
        $("#modal-cik").click(function () {
            console.log("cik clk");
            if (ktldurum === "true") {
                window.location.href = "/Home/MyProfile";

            }
        });
    });
</script>