@model NeYapsak.Entity.Entity.Ilan
@{
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    Layout = "~/Views/Shared/_Layout-2-TopMenu-Details.cshtml";
}

<div class="col-md-9 gedf-main">
    <!--- \\\\\\\Etkinlik Oluşturma-->
    <div class="card gedf-card">
        <div class="card-header justify-content-center text-center">
            <strong>@Model.Baslik</strong>
        </div>
        <div class="card-body" id="etk-ols">
            <div class="row">
                <label class="etk-ols-lbl">Etkinlik Sahibi: </label>
                <div class="h5 m-0"><a href="/Home/OtherProfile/@Model.KullaniciId" class="cs-renk">@Model.User.Name @Model.User.Surname</a></div>
            </div><br>
            <div class="row">
                <label class="etk-ols-lbl">Etkinlik başlığı: </label><input type="text" readonly name="ilan-baslik" class="form-control" id="ilan-baslik" style="width: 450px; height: 35px;" value="@Model.Baslik">
            </div><br>
            <div class="row">
                <label class="etk-ols-lbl">Gerçekleşeceği şehir </label><input type="text" readonly name="il" class="form-control" id="ilan-baslik" style="width: 450px; height: 35px;" value="@Model.Il"><br>
            </div><br>
            <div class="row">
                <label class="etk-ols-lbl">Gerçekleşeceği ilçe </label><input type="text" readonly name="ilce" class="form-control" id="ilan-baslik" style="width: 450px; height: 35px;" value="@Model.Ilce"><br>
            </div><br>
            <div class="row">
                <label class="etk-ols-lbl">Konum:</label><input type="text" readonly name="konum" class="form-control" id="ilan-baslik" style="width: 450px; height: 35px;" value="Girilmemiş"><br>
            </div><br>
            <div class="row">
                <label class="etk-ols-lbl form">Oluşturulma tarihi: </label><input type="text" id="ilan-vakit" name="ilan-vakit" value="@Model.OlusturmaTarihi" readonly class="form-control" style="width: 450px;"><br>
            </div><br>
            <div class="row">
                <label class="etk-ols-lbl form">Gerçekleşeceği vakit: </label><input type="text" id="ilan-vakit" name="ilan-vakit" value="@Model.BaslangicTarihi" readonly class="form-control" style="width: 450px;"><br>
            </div><br>
            <div class="row">
                <label class="etk-ols-lbl">Kalan kontenjan: </label><input type="number" readonly name="Kontenjan" id="ilan-baslik" class="form-control" style="width:50px;height:30px;padding-right:0" value="@Model.Kontenjan" required><br>
                @Html.ValidationMessageFor(model => model.Kontenjan, "", new { @class = "text-danger" })
                <div class="justify-content-between align-items-center col-md-7">
                    <a href="#" class="text-muted h6 mb-2" style="margin-right:15px;" data-toggle="modal" data-target="#@("IlgilenenlerListeModalCenter"+Model.Id)"> <i class="fa fa-user-circle"></i>&nbsp;İlgilenenler @Model.Katilanlar.Where(i => i.Silindi == false && i.Onay == false).Count()</a>
                    <a href="#" class="text-muted h6 mb-2" data-toggle="modal" data-target="#@("KatilanlarListeModalCenter"+Model.Id)"> <i class="fa fa-user-circle-o"></i>&nbsp;Katılacaklar @Model.Katilanlar.Where(i => i.Silindi == false && i.Onay == true).Count()</a>
                </div>
            </div><br>
            <div class="row">
                <label class="etk-ols-lbl">Etkinlik özeti: </label><textarea type="text" readonly name="ilan-baslik" id="ilan-baslik" style="width: 450px;" maxlength="300" placeholder="Etkinliğini 300 karakter ile açıklamanın beklenmiş olduğu kısım" class="form-control">@Model.Ozet</textarea><br>
            </div><br>
            <div class="row">
                <label class="etk-ols-lbl">Etiketler: </label>Tıklanabilir etiketler <br>
            </div><br>
            <div class="justify-content-center row">
                <div class="align-items-center">


                    <!-- Modal Onay İptal-->
                    <button id="btn-ktl-iptal" type="button" class="btn cs-arka-renk" data-toggle="modal" data-target="#ConfirmModal">
                        Katılmaktan Vazgeç
                    </button>
                    <button id="btn-ktl-istek-iptal" type="button" class="btn cs-arka-renk" data-toggle="modal" data-target="#ConfirmModal">
                        Katılma İsteğimi İptal Et
                    </button>
                    <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ConfirmModalLabel">Emin Misin?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div id="confirm-modal-bodyy" class="modal-body">
                                    İptal İşlemini Onaylıyor Musun?
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <a id="ktl-istek-iptal" href="#" data-id="@Model.Id" class="btn cs-arka-renk ktl-istek-iptal">Evet</a>
                                        <a id="ktl-iptal" href="#" data-id="@Model.Id" class="btn cs-arka-renk ktl-iptal">Evet</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="button" class="btn cs-arka-renk" data-dismiss="modal">İptal</button>&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Onay İptal Bitiş-->
                    <!-- Modal Onay Katıl-->
                    <a id="katilmak" href="#" class="btn cs-arka-renk" data-toggle="modal" data-target="#ConfirmModalKatilmaİstegiGonder"><i class="fa fa-plus"></i> Katılma İsteği Gönder</a>
                    <div class="modal fade" id="ConfirmModalKatilmaİstegiGonder" tabindex="-1" role="dialog" aria-labelledby="ConfirmModalKatilmaİstegiGonderLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ConfirmModalKatilmaİstegiGonderLabel">Emin Misin?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div id="confirm-modal-katil-body" class="modal-body">
                                    Katılmak İstiyor Musun?
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <a id="ktl-istek" href="#" data-id="@Model.Id" class="btn cs-arka-renk KatilmaIstegiGonder">Evet</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="button" class="btn cs-arka-renk" data-dismiss="modal">İptal</button>&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Onay Katıl Bitiş-->
                    &nbsp; <button id="mesaj" type="submit" data-id="#" data-target="#MesajGonderMain" data-toggle="modal" class="btn cs-arka-renk">Mesaj Gönder</button>
                    <!--Modal Mesaj-->
                    <div class="modal fade" id="MesajGonderMain" tabindex="-1" role="dialog" aria-labelledby="MesajGonderMainLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ConfirmModalKatilmaMainLabel">
                                        @Model.User.Name @Model.User.Surname kişisine mesaj gönder
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div id="confirm-modal-main-katilma-body" class="modal-body">
                                    &nbsp;&nbsp;&nbsp;<em>Aklına takılanı öğrenmek bir mesaj kadar uzakta:</em>
                                    <div class="col-md-8">
                                        <br /><br />
                                        <textarea type="text" name="YeniMesaj" id="yeni-mesaj" style="width:450px" maxlength="300" placeholder="Mesajını gir" class="form-control" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <button id="msg-gonder" type="submit" data-id="#" class="btn cs-arka-renk">Gönder</button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button type="button" class="btn cs-arka-renk" id="msg-tm" data-dismiss="modal">Vazgeç</button>&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal Mesaj Bitiş-->
                </div>
            </div>
        </div>
    </div>
    <!--- \\\\\\\Etkinlik Bitiş-->
</div>
<!-- Modal -->
<div class="modal fade" id="KatilmaModalCenter" tabindex="-1" role="dialog" aria-labelledby="KatilmaModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="KatilmaModalLongTitle"></h5>
                <button id="modal-cik" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modal-bodyy" class="modal-body">

            </div>
            <div class="modal-footer">
                <button id="modal-tamam" type="button" class="btn cs-arka-renk" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Katılanlar-->
<div class="modal fade" id="@("KatilanlarListeModalCenter"+Model.Id)" tabindex="-1" role="dialog" aria-labelledby="KatilanlarListeModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card-header">
                <button id="modal-main-ilgilenenler-cikis" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="text-center" id="KatilanlarListeModalLongTitle">Etkinliğe Katılacaklar</h5>
            </div>
            <div id="modal-main-katilanlar-body" class="modal-body">
                @if (Model.Katilanlar.Where(i => i.Onay == true && i.Silindi == false).Count() == 0)
                {
                    <table class="table">
                        <thead>
                            <tr>Etkinliğe Katılan Yok</tr>
                        </thead>
                        <tbody>
                    </table>
                }
                else if (Model.Katilanlar.Where(i => i.Onay == true && i.Silindi == false).Count() != 0)
                {
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            @foreach (NeYapsak.Entity.Entity.Katilan katilan in Model.Katilanlar.Where(i => i.Onay == true && i.Silindi == false))
                            {
                                <tr>
                                    <td><img class="rounded-circle" width="45" height="45" src="@katilan.User.ProfilAvatarYolu" alt=""></td>
                                    <td>
                                        <div class="row" style="padding-top:10px;">

                                            @if (ViewBag.UserID == katilan.KullaniciId)
                                            {
                                                <div class="col-md-6"><a href="/Home/MyProfile/@katilan.KullaniciId" class="cs-renk">@katilan.User.Name @katilan.User.Surname</a></div>
                                            }
                                            else
                                            {
                                                <div class="col-md-6"><a href="/Home/OtherProfile/@katilan.KullaniciId" class="cs-renk">@katilan.User.Name @katilan.User.Surname</a></div>}

                                            <div class="col-md-6"><p class="text-muted">@katilan.Tarih</p></div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- Modal Katılanlar Bitiş -->
<!-- Modal İlgilenenler-->
<div class="modal fade" id="@("IlgilenenlerListeModalCenter"+Model.Id)" tabindex="-1" role="dialog" aria-labelledby="IlgilenenlerListeModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card-header">
                <button id="modal-main-ilgilenenler-cikis" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title text-center" id="IlgilenenlerListeModalLongTitle">Etkinlikle İlgilenenler</h5>
            </div>
            <div id="modal-main-ilgilenenler-body" class="modal-body">
                @if (Model.Katilanlar.Where(i => i.Onay == false && i.Silindi == false).Count() == 0)
                {
                    <table class="table">
                        <thead>
                            <tr>Etkinliğin İlgileneni Yok</tr>
                        </thead>
                        <tbody>
                    </table>
                }
                else if (Model.Katilanlar.Where(i => i.Onay == false && i.Silindi == false).Count() != 0)
                {
                    <table class="table">
                        <thead>
                            <tr></tr>
                        </thead>
                        <tbody>
                            @foreach (NeYapsak.Entity.Entity.Katilan ilgilenen in Model.Katilanlar.Where(i => i.Onay == false && i.Silindi == false))
                            {
                                <tr>
                                    <td><img class="rounded-circle" width="45" height="45" src="@ilgilenen.User.ProfilAvatarYolu" alt=""></td>
                                    <td>
                                        <div class="row" style="padding-top:10px;">
                                            @if (ViewBag.UserID == ilgilenen.KullaniciId)
                                            {
                                                <div class="col-md-6"><a href="/Home/MyProfile/@ilgilenen.KullaniciId" class="cs-renk">@ilgilenen.User.Name @ilgilenen.User.Surname</a></div>
                                            }
                                            else
                                            {
                                                <div class="col-md-6"><a href="/Home/OtherProfile/@ilgilenen.KullaniciId" class="cs-renk">@ilgilenen.User.Name @ilgilenen.User.Surname</a></div>}
                                            <div class="col-md-6"><p class="text-muted">@ilgilenen.Tarih</p></div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!-- Modal İlgilenenler Bitiş -->


<script type="text/javascript">

    var btnmsj = document.getElementById("mesaj");
    var btnktl = document.getElementById("katilmak");
    var btniptal = document.getElementById("btn-ktl-iptal");
    var btnIstekiptal = document.getElementById("btn-ktl-istek-iptal");
    var btnktliptal = document.getElementById("ktl-iptal");
    var btnktlIstekiptal = document.getElementById("ktl-istek-iptal");

    var silindi = "@Model.Silindi";
    var yayin = "@Model.Yayindami";
    var katilmadrmistek = "@ViewBag.ktldurumistek";
    console.log(katilmadrmistek);
    var katilmadrmonay = "@ViewBag.ktldurumOnay";
        if (silindi === "True" || yayin === "False") {
            btnktl.style.display = "none"
            btnmsj.style.display = "none"
            btniptal.style.display = "none"
        }
    if (katilmadrmistek === "True") {
        btnktl.style.display = "none";
        btniptal.style.display = "none";
        }
    else if (katilmadrmonay === "True") {
        btnIstekiptal.style.display = "none"
        btnktl.style.display = "none"
    }
    else if (katilmadrmonay === "False" && katilmadrmistek === "False") {
        btniptal.style.display = "none";
        btnIstekiptal.style.display = "none";
    }

    $(document).ready(function () {
        var ktldurum = "";
        var sontiklananetkId = @Model.Id;
        console.log(sontiklananetkId);
        $("#btn-ktl-iptal").click(function () {
            btnktlIstekiptal.style.display = "none";
        });
        $("#btn-ktl-istek-iptal").click(function () {
            btnktliptal.style.display = "none";
        });


        $(".KatilmaIstegiGonder").click(function () {
            $('#ConfirmModalKatilmaİstegiGonder').modal('hide');
            var ID = $(this).data("id");
            $.ajax({
                type: "POST",
                url: '/Home/KatilmaIstegiGonder',
                data: { EtkID: ID },
                success: function (result) {
                    if (result === "true") {
                        $('#KatilmaModalLongTitle').attr("class", "text-success")
                        $('#KatilmaModalLongTitle').text("İstek Gönderildi");
                        $('#modal-bodyy').text("Katılma İsteğini etkinlik Sahibine İlettik.");
                    }
                    else if (result === "false") {
                        $('#KatilmaModalLongTitle').attr("class", "text-danger")
                        $('#KatilmaModalLongTitle').text("İstek Gönderilemedi");
                        $('#modal-bodyy').text("Katılma İsteğini etkinlik Sahibine İletemedik.");
                    }
                    else {
                        $('#KatilmaModalLongTitle').attr("class", "text-danger")
                        $('#KatilmaModalLongTitle').text("İstek Gönderilemedi");
                        $('#modal-bodyy').text(result);
                    }
                    ktldurum = result;
                    $('#KatilmaModalCenter').modal('show');
                }
            });
        });

        $(".ktl-iptal").click(function () {
            var ID = $(this).data("id");
            $('#ConfirmModal').modal('hide');
            console.log("click" + ID);
            $.ajax({
                //console.log("ajax");
                type: "POST",
                url: '/Home/KatilmaktanVazgec',
                data: { EtkIDIptal: ID },
                success: function (result) {
                    if (result === "true") {
                        console.log("true" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-success")
                        $('#KatilmaModalLongTitle').text("İşlem Başarılı");
                        $('#modal-bodyy').text("Katılmaktan Vazgeçtin.");
                    }
                    else {
                        console.log("false" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-danger")
                        $('#KatilmaModalLongTitle').text("Sorun Oluştu Tekrar Deneyin!");
                        $('#modal-bodyy').text("Katılmaktan Vazgeçemedin!.");
                    }
                    ktldurum = result;
                    $('#KatilmaModalCenter').modal('show');
                }
            });
        });

        $(".ktl-istek-iptal").click(function () {
            var ID = $(this).data("id");
            $('#ConfirmModal').modal('hide');
            console.log("click" + ID);
            $.ajax({
                //console.log("ajax");
                type: "POST",
                url: '/Home/KatilmaIstegiIptal',
                data: { IstekIptalEtkID: ID },
                success: function (result) {
                    if (result === "true") {
                        console.log("true" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-success")
                        $('#KatilmaModalLongTitle').text("İşlem Başarılı");
                        $('#modal-bodyy').text("Katılma İsteğini Geri Çektik.");
                    }
                    else {
                        console.log("false" + ID);
                        $('#KatilmaModalLongTitle').attr("class", "text-danger")
                        $('#KatilmaModalLongTitle').text("Sorun Oluştu Tekrar Deneyin!");
                        $('#modal-bodyy').text("Katılma İsteğini Geri Alamadık!.");
                    }
                    ktldurum = result;
                    $('#KatilmaModalCenter').modal('show');
                }
            });
        });

        $("#modal-tamam").click(function () {
            console.log("tmm clk" + sontiklananetkId);
            if (ktldurum === "true") {
                window.location.href = "/Home/OtherEventDetail/" + sontiklananetkId;

            }
        });
        $("#modal-cik").click(function () {
            console.log("cik clk" + sontiklananetkId);
            if (ktldurum === "true") {
                window.location.href = "/Home/OtherEventDetail/" + sontiklananetkId;

            }
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#msg-gonder").click(function () {
            var Mesaj = $("#yeni-mesaj").val();
            if (Mesaj.trim() !== '') {
                var BenimId = "@ViewBag.user.Kullanici.Id";
                var ArkadasId = "@Model.KullaniciId";
                document.querySelector("#msg-tm").click();
                $.ajax({
                    url: '/Message/MesajGonder',
                    type: "POST",
                    data: { AliciId: ArkadasId, GondericiId: BenimId, Mesaj: Mesaj },
                    success: function (result) {
                        alert('Mesajınız gönderildi!');
                    }
                });
            };
        });
    });
</script>