
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout-3-TopMenu-User.cshtml";
}

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                @{NeYapsak.PL.Models.UserViewModel item = new NeYapsak.PL.Models.UserViewModel();
                    item = ViewBag.user;
                }
                <img class="rounded-circle" style="height:250px" src="@item.Kullanici.ProfilAvatarYolu" alt="">
                <div class="file btn btn-lg btn-primary">
                    Fotoğrafı Değiştir
                    <input type="file" name="file" /><!--kişi kendi sayfasına gelince çıkacak olan-->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="profile-head tab-content profile-tab">
                <div class="row">
                    <div class="col-md-6">
                        <label>Adı</label>
                    </div>
                    <div class="col-md-6">
                        <p>@item.Kullanici.Name</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Soyadı</label>
                    </div>
                    <div class="col-md-6">
                        <p>@item.Kullanici.Surname</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>E-Posta</label>
                    </div>
                    <div class="col-md-6">
                        <p>@item.Kullanici.Email</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Yaş</label>
                    </div>
                    <div class="col-md-6">
                        <p>@(Convert.ToInt32(DateTime.Now.Year - item.Kullanici.DogumTarihi.Year))</p>
                    </div>
                </div>
            </div>
            <p class="text-normal cs-renk-tab">@item.Kullanici.Bio</p>
            <p class="text-normal cs-renk-tab">Düzenlediği: <span class="font-weight-bold">@item.KullaniciIlanlari.Where(i => i.Silindi == false && i.Yayindami == true).Count()</span>&nbsp;&nbsp; Katıldığı: <span class="font-weight-bold">@item.KatildigiIlanlar.Count()</span>&nbsp;&nbsp;İlgilendiği:<span class="font-weight-bold">@item.IlgilendigiIlanlar.Count()</span>&nbsp;&nbsp;Onayımı Bekleyen:<span class="font-weight-bold">@item.KullaniciIlanlari.Where(i => i.Silindi == false && i.Yayindami == false).Count()</span></p>
        </div>
        <div class="col-md-2">
            <!--şimdilikboş-->
        </div>
    </div>
    <div class="row">
        <!--kişi kendi sayfasına gelince çıkacak olan-->
        <div class="col-md-4">
            <div class="row justify-content-center">
                <button type="button" name="button" class="btn cs-arka-renk btn-sm mb-1 ">Hakkımdayı Düzenle</button>
            </div>
        </div>
        <div class="col-md-8">
            <h4 class="text-center">Etkinlik İşlemleri</h4>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Yayındaki etkinliklerim
                            </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            @foreach (NeYapsak.Entity.Entity.Ilan kullaniciilanlari in item.KullaniciIlanlari)
                            {
                                <div class="card gedf-card">
                                    <!--gedf ile alttan margin veriyor-->
                                    <div class="card-header">
                                        <!--bu sayede başlığın arka planı grimsi ve içeriğe mesafelendirme yapmış. card body ve card header da var-->
                                        <div class="d-flex justify-content-between align-items-center">
                                            <!--dflex ile yan yana getiriyor. bir nevi float-->
                                            <a class="card-link" href="#">
                                                <h5 class="card-title cs-renk">@kullaniciilanlari.Baslik</h5>
                                            </a>
                                            <div class="text-muted h7 mb-2"> <i class="fa fa-user-o"></i>&nbsp;Kontenjan @kullaniciilanlari.Kontenjan</div>
                                            <div class="text-muted h7 mb-2"> <i class="fa fa-user-circle"></i>&nbsp;İlgilenenler</div>
                                            <div class="text-muted h7 mb-2"> <i class="fa fa-user-circle-o"></i>&nbsp;Katılacaklar</div>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <p class="card-text">
                                                        @kullaniciilanlari.Ozet
                                                    </p>
                                                </div><br>
                                                <div style="position:absolute;bottom:0px;">
                                                    <div class="row">
                                                        <div class="col-md-1">
                                                            <img class="rounded-circle" width="45" src="@kullaniciilanlari.User.ProfilAvatarYolu" alt="">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="h5 m-0"><a href="#" class="cs-renk">@kullaniciilanlari.User.Name</a></div>
                                                            <div class="h7 text-muted">@kullaniciilanlari.User.Name @kullaniciilanlari.User.Surname,@(Convert.ToInt32(DateTime.Now.Year - kullaniciilanlari.User.DogumTarihi.Year))</div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6 col-xs-12"><a href="#" class="card-link cs-renk"><i class="fa fa-question-circle"></i> Etkinlik Sahibine Sor</a></div>
                                                                <div class="col-md-6 col-sm-6 col-xs-12"><a href="#" class="card-link cs-renk"><i class="fa fa-plus"></i> Katılma İsteği Gönder</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <!--text muted ile silik tonda grili yazı-->
                                                <div class="row text-muted">
                                                    <p>Oluşturulma tarihi: @kullaniciilanlari.OlusturmaTarihi</p>
                                                </div>
                                                <div class="row text-muted">
                                                    <p>Başlangıç Zamanı: @kullaniciilanlari.BaslangicTarihi</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <h7>Bu etkinliği paylaş!</h7>&nbsp;
                                        <a href="#" class="card-link cs-renk-siy sc-share-fb"><i class="fa fa-facebook"></i> Facebook</a>
                                        <a href="#" class="card-link cs-renk-siy sc-share-tw"><i class="fa fa-twitter"></i> Twitter</a>
                                        <a href="#" class="card-link cs-renk-siy sc-share-wa"><i class="fa fa-whatsapp"></i> Whatsapp</a>
                                        <span class="dropdown pull-right">
                                            <button class="btn btn-link dropdown-toggle cs-renk" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                                                <div class="h6 dropdown-header">Bu İlanı</div>
                                                <a class="dropdown-item" href="#">Şikayet Et/Bildir</a>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div><!--1.kart bitiş-->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Onayımı bekleyen etkinlikler
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                İlgilendiğim(Onay beklediğim) etkinlikler
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Daha önce düzenlediğim etkinlikler
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h5 class="mb-0 text-center">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Katıldığım etkinlikler
                            </button>
                        </h5>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

