@model NeYapsak.PL.Models.PasswordChangeViewModel

@{
    ViewBag.Title = "Şifre İşlemleri";
    Layout = "~/Views/Shared/_Layout-2-TopMenu-Details.cshtml";
}
<div class="text-center col-md-3"></div>
<div class="text-center col-md-3">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <p class="h2 col-md-12 text-center">Şifre Değiştirme</p><br />
        </div>
        <div class="modal-footer" style="height:1px;padding-top:1px;padding-bottom:25px;"></div>
        <div class="row">
            <div class="form-group col-xs-12 col-md-12 text-center">
                <label>Eski Şifren</label>
                @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control", required = true, type = "password" } })
            </div> <!-- form-group// -->
            <div class="form-group col-xs-12 col-md-12 text-center">
                <label>Yeni Şifren</label>@Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control", required = true } })
            </div> <!-- form-group// -->
            <div class="form-group col-xs-12 col-md-12 text-center">
                <label>Yeni Şifren(Tekrar)</label>@Html.EditorFor(model => model.ConfirmNewPassword, new { htmlAttributes = new { @class = "form-control", required = true } })
            </div> <!-- form-group// -->
            <div class="form-group col-xs-12 col-md-12 text-center">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <input class="btn btn-dark btn-sm" type="submit" id="Onayla" value="Onayla" />
            </div> <!-- form-group// -->
        </div>
    }
</div>
